/* src/components/Carousel.css */
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  
  .carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 2.5rem;
    color: red;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  